<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory" type="WB\PreOrderGrid\Model\Order\CollectionFactory" />
</config>
